$gray: #ecf2f8;
$purple: #733fc8;
$dark-gray: #48556a;
$white: #ffffff;
$black: #19202d;

$font-size-lg: 1.25rem; // 20px
$font-size-md: 0.813rem; // 13px
$font-size-s: 0.688rem; // 11px

$font-height-lg: 1.5rem; // 24px
$font-height-md: 1.125rem; // 18px
$font-height-s: 0.813rem; // 13px
$font-height-xs: 0.668rem; // 11px

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
